/* Parte 1 */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #004e71;
    height: 50px;
    display: flex;
    align-items: center;
} 

section img {
    width: 100px;
    margin-left: 20px;
    display: flex;
    justify-content: start;
}

.one {
    color: #f3f6f4;
    display: flex;
    justify-content: start;
    margin: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.two {
    background-color: #e87c25; 
    border: 1px solid #f3f6f4;
    color: #f3f6f4;
    justify-content: end;
    margin-left: 55%;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.two:hover {
    transform: scale(0.9);
}

/* Parte 2 */

main {
    border: 1px solid black;
    background: linear-gradient(
    46deg,
    rgba(174,196,208) 45%,
    rgba(243,246,244) 20%); 
    
    /* background-color: #EAEFF1;
    clip-path: polygon(0 13%, 0 0, 23% 0, 36% 0, 42% 38%, 44% 57%, 44% 73%, 41% 84%, 32% 100%, 14% 100%, 0% 100%, 0 100%);  */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 391px;
    border: none;
}

h1{
    color:#004e71;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: justify;
    justify-content: start;
    font-size: 40px;
}

p {
    display: flex;
    justify-content: start;
    color: #6a95aa;
}
.textone{
    font-size: 20px;
}
.texttwo{
    font-size: 15px;
}
.textthree{
    font-size: 15px;
}

.image {
    display: flex;
    justify-content: center;
    margin: -30px;
    margin-top: 23px;
    margin-left: -20%;
    height: 336px;
    width: 240px;
}

/* Parte 3 */

.four {
    background: #0077f9;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 205px;
}

.textfour{ 
    color:#f3f6f4;
    font-size: x-large;
    margin-top: 40px;
    padding-bottom: 30px;
}

.textinput{
    background-color: #f3f6f4; 
    border: 1px solid #094f71;
    color: #094f71;
    padding: 12px;
    margin: 5px;
    width: 210px;
}

.textfive{
    color: #f3f6f4;
    font-size: 10px;
}

.six{
    background: #f3f6f4;
    height: 430px;
}

.textsix{
    color:#094f71;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    font-size: 30px;
    padding-top: 20px;
}

.textseven{
    color: #094f71;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: large;
    height: 40px;
}



.texteigth {
    background-color: #f3f6f4; 
    color: #6a95aa;
    margin: 24px;
    margin-top: 40px;
    padding: 15px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}

.botao{
    
    background: #f3f6f4;
    color: #004e71;
    border: 1px solid #004e71;
    margin: 5px;
    padding: 0px ;
    height: 70px;
    width: 155px;
}

.botao:hover{
    transform: scale(0.9);
}

.textnine{
    background-color: #f3f6f4; 
    color: #004e71; 
    border: #004e71;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%; 
}

.textten{
    /* height: 120px; */
    padding: 40px;
    background-color: #f3f6f4; 
    color: #004e71;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center
} 

.ten{
    background: #f3f6f4;
    border:1px solid #004e71;
    color: #004e71;
    height: 50px;
    width: 280px;
}

.ten:hover{
    transform: scale(0.9);
}

/* Parte 4 */

.texteleven{
    background: #0077f9;
    height: 280px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}

.lista {
    border-right: 1px solid #f3f6f4;
    color: #f3f6f4;
    padding-top: 50px;
    padding-left: 294px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.lista a {
    
    margin: 10px;
    margin-right: 10px;
    color: #f3f6f4;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

a:hover{
    transform: scale(0.9);
}

.got {
    margin-right: 410px;
}

.question {
    color: #f3f6f4;
    padding-top: 36px;
}

.click{
    color: #f3f6f4;
    margin-top: -9px;
}

/* Parte 5 */

footer{
    padding: 10px;
    height: 50px;
    background: #004e71;
    text-align: center;
    align-items: center;
}

footer img {
    
    height: 35px;
}

footer div {
    color: #f3f6f4;
    font-size: 8px;
    font-weight: 10;
}



